# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE specific
.idea/
.vscode/

# Uploads and conversions
uploads/
conversions/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db